<div class="row p-3">
  <div class="col-lg-8  col-sm-8 col-xs-12 login">
    <h1 class="mt-4">Please Login   :</h1>
    <br>
    <form (submit)="loginuser($event)">
      <div class="form-group">
        <label for="email"><b>User Name:</b></label>
        <input type="text" class="form-control" name="email">
      </div>
      <div class="form-group">
        <label for="pwd"><b>Password:</b></label>
        <input type="password" class="form-control" name="password" >
      </div>
      <button type="submit" class="btn">Submit</button>
    </form>
  </div>
</div>





